@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  height: 100vh;
  text-align: center;
  width: 100%;
}

.grid-layout {
  grid-template-areas: 
      "nav image image"
      "nav image image"
      "desc desc desc";
}

.grid-area-nav {
  grid-area: nav;
}

.grid-area-image {
  grid-area: image;
  object-fit: cover;
  object-position: center;
}

.grid-area-desc {
  grid-area: desc;
}

.clash{
  font-family: 'Clash Display', sans-serif;
}

.archivo{
  font-family: 'Archivo', sans-serif;
}


body{
  font-family: 'Clash Display', sans-serif;
  background-color: #ECFEFF;
  color: #0F172A;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* border: 1px solid #0F172A; */
  color:#0F172A;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
}


.char{
  display: inline-block;
  /* border: 1px solid #0F172A; */
  /* border-radius: 20px; */
  color: #0F172A;
  transform: rotateX(-40deg);
  /* box-shadow: 6px 6px 0px #0F172A; */
  width:20%;
  margin:0 5px;
}